<article class="panel panel-default">
    <div class="panel-heading">
        {{hub?.title}}
    </div>
    <div class="panel-body">
        <!--{{hub.description}}-->
        <hub-message *ngFor="let message of hubMessages" [message]="message"></hub-message>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <input type="text" ngControl="content" id="content" class="form-control" [formControl]="form.controls['content']" name="content" #input required/>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Send</button> 
        </form>
    </div>
    <footer class="panel-footer clearfix">
        <div class="author pull-left">
            <!--Created by {{hub.ownerUsername}}-->
        </div>
        <div class="config pull-right">
            <a (click)="viewHub()"> View </a>
            <span>|</span>
        </div>
        <div class="config pull-right">
            <!--<a (click)="subscribeHub()"> Subscribe </a>-->
            <span>|</span>
        </div>
        <div class="config pull-right">
            <!--<a (click)="editHub()"> Edit </a>-->
            <span>|</span>
            <!--<a (click)="deleteHub()"> Delete </a>-->
            <span>|</span>
        </div>
    </footer>
</article>