<article class="panel panel-default">
    <div class="panel-heading">
        {{hub?.title}}
    </div>
    <div class="panel-body">
        <!--{{hub.description}}-->
        <hub-message *ngFor="let message of messages" [message]="message"></hub-message>
        <textarea rows="20" cols="100"></textarea>
    </div>
    <footer class="panel-footer clearfix">
        <div class="author pull-left">
            <!--Created by {{hub.ownerUsername}}-->
        </div>
        <div class="config pull-right">
            <a (click)="viewHub()"> View </a>
            <span>|</span>
        </div>
        <div class="config pull-right">
            <!--<a (click)="subscribeHub()"> Subscribe </a>-->
            <span>|</span>
        </div>
        <div class="config pull-right">
            <!--<a (click)="editHub()"> Edit </a>-->
            <span>|</span>
            <!--<a (click)="deleteHub()"> Delete </a>-->
            <span>|</span>
        </div>
    </footer>
</article>